@page "/cats"

@using AnimalShelter
@using AnimalShelterCore
@using AnimalsWebApp.Pages.Admin;
@using Plugins.DataAnimals.Sql.Repositories.Repositories
@using UseCases.AnimalUseCasesInterfaces;
@using UseCases.DataAnimalsPluginInterfaces

@inject IAnimalRepository AnimalRepository
@inject ICategoryRepository CategoryRepository
@inject IViewAnimalsUseCase ViewAnimalsUseCase
@inject NavigationManager NavigationManager

<PageTitle>Категория кошки</PageTitle> 
<div class="line"></div>



<div class="dropdown" style="margin-left:115px">

    <button class="btn btn-secondary dropdown-toggle buttons" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;&nbsp;Сортировать по
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><button class="dropdown-item" @onclick="OnDescAlphabet">Имени</button></li>       
        <li><button class="dropdown-item" @onclick="OnSortGenderFemale">Полу женский-мужской</button></li>
        <li><button class="dropdown-item" @onclick="OnSortGenderMale">Полу мужской-женский</button></li>
        <li><button class="dropdown-item" @onclick="OnSortVaccination">Сначала вакцинированные</button></li>
        <li><button class="dropdown-item" @onclick="OnSortNoVaccination">Сначала не вакцинированные</button></li>
        <li><button class="dropdown-item" @onclick="OnNormalMode">По умолчанию</button></li>
    </ul>
</div>

@if(animals != null)
{   
    <div class="flexForImg">
         @foreach(var animal in animals)
            { 
                @if(animal.CategoryId == 1)
              {                                   
                   <div class="flexForImg2">

                    <img src="@animal.ImagePath" class="imgForAnimals" />
                        
                      <div class="containerForAnimalsDescription">
                       
                        <h4>Имя: @animal.Name</h4>
                        <h4>Возраст: @animal.Age</h4>
                        @if (animal.Gender == "Male")
                        {
                            <h4>Пол: Мужской</h4>
                        }
                        else if (animal.Gender == "Female")
                        {
                            <h4>Пол: Женский</h4>
                        }
                        @if (animal.IsVaccinated == true)
                        {
                            <h4 style="color:limegreen">Вакцинирован</h4>
                        }else{
                            <h4 style="color:red">Требуется вакцинация</h4>
                        }
                        <h4>ID: @animal.AnimalId</h4>

                        <div style="margin:10px 0 10px 0">
                            <button id="divId" class="btn btn-success center" @onclick="@(() => OnFindCurrentId(animal))">Подать заявку</button>
                            </div>
                      </div>
                </div>                             
              } 
    }
    </div>  
}

@code {
    private IEnumerable<Animal> animals;  
    protected List<Animal> searchAnimalData = new();
    private IEnumerable<Category>? categories;
    private Category? category;  

    protected override void OnInitialized()
    {
        base.OnInitialized();      
        animals = ViewAnimalsUseCase.Execute();
        searchAnimalData = animals.ToList();
        category = CategoryRepository.GetCategoryById(1);
    }       

    private void OnFindCurrentId(Animal animal)
    {
        NavigationManager.NavigateTo($"/formorder/{animal.AnimalId}");
    }

    private void OnDescAlphabet()
    {       
        animals = searchAnimalData.Where(x => x.CategoryId == 1).OrderBy(x => x.Name).ToList();
    }

    private void OnSortGenderFemale()
    {
        animals = searchAnimalData.Where(x => x.CategoryId == 1).OrderBy(x => x.Gender).ToList();
    }

    private void OnSortGenderMale()
    {
        animals = searchAnimalData.Where(x => x.CategoryId == 1).OrderByDescending(x => x.Gender).ToList();
    }

    private void OnSortNoVaccination()
    {
        animals = searchAnimalData.OrderBy(x => x.IsVaccinated).ToList();
    }

    private void OnSortVaccination()
    {
        animals = searchAnimalData.OrderByDescending(x => x.IsVaccinated).ToList();
    }

    private void OnNormalMode()
    {
        animals = searchAnimalData.ToList();
    }
}
