@page "/dogs"
@using AnimalShelter
@using AnimalShelterCore
@using Plugins.DataAnimals.Sql.Repositories.Repositories
@using UseCases.DataAnimalsPluginInterfaces

@inject IAnimalRepository AnimalRepository
@inject ICategoryRepository CategoryRepository
@inject NavigationManager NavigationManager

<PageTitle>Категория собаки</PageTitle>
<div class="line"></div>
@if(animals != null)
{ 
    <div class="flexForImg">
         @foreach(var animal in animals)
            { 
               @* @if(animal.CategoryId == 2)
              {                                   
                                              
              }*@
            <div class="flexForImg2">
                <img src="@animal.ImagePath" class="imgForAnimals" />

                <div class="containerForAnimalsDescription">
                    <h4>Имя: @animal.Name</h4>
                    <h5>Возраст: @animal.Age</h5>
                    <h6>Пол: @animal.Gender</h6>
                    <h7>ID: @animal.AnimalId</h7>
                    <div style="margin:10px 0 10px 0">
                        <button id="divId" class="btn btn-success center" @onclick="@(() => OnFindCurrentId(animal))">Подать заявку</button>
                    </div>
                    
                </div>  
            </div>
    }
    </div>  
}

@code {
    private IEnumerable<Animal>? animals;
    private IEnumerable<Category>? categories;
    private Category? category;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        category = CategoryRepository.GetCategoryById(2);
        animals = AnimalRepository.GetAnimalByCategoryId(2);
    }

    private void OnFindCurrentId(Animal animal)
    {


        NavigationManager.NavigateTo($"/formorder/{animal.AnimalId}");

    }
}
