@page
@model LoginModel
<link rel="stylesheet" href="~/css/Login.css" />

<div id="bg"></div>

<form id="account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-field">
        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Почта" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-field">
        <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Пароль" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div class="form-field">
        <div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
        </div>
        <label asp-for="Input.RememberMe" class="form-check-label">
            <input class="form-check-input" asp-for="Input.RememberMe" />

        </label>
        <span style="color:white"><b>@Html.DisplayNameFor(m => m.Input.RememberMe)</b></span>

    </div>
        <button class="button-9" id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</button>
        <button class="button-9" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация нового пользователя</button>
        <button class="button-9" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Прислать письмо регистрации на почту</button>
    </div>


</form>






<div class="col-md-6 col-md-offset-2">
    <section>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                //<div>
                //    <p>
                //        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                //        about setting up this ASP.NET application to support logging in via external services</a>.
                //    </p>
                //</div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
