@page "/admin"
@attribute [Authorize(Roles="Admin")]
@using AnimalShelter;
@using AnimalShelterCore;
@using Microsoft.AspNetCore.Authorization;
@using UseCases.AnimalUseCasesInterfaces;
@using UseCases.ClientOrderUseCasesInterfaces;
@using UseCases.UseCasesInterfaces

@inject NavigationManager NavigationManager
@inject IDeleteAnimalUseCase DeleteAnimalUseCase
@inject IGetCategoryByIdUseCase GetCategoryByIdUseCase
@inject IViewAnimalsUseCase ViewAnimalsUseCase
@inject IEditAnimalUseCase EditAnimalUseCase
@inject IGetClientOrderCountUseCase GetClientOrderCountUseCase
@inject IJSRuntime JsRuntime

<PageTitle>Админ</PageTitle>

@if (animals == null)
{
    <SpinnerComponent></SpinnerComponent>
}
else
{
      <div class="input-group col buttons">
        <p class="buttons">
            <button type="button" class="btn btn-success" @onclick="OnAddAnimal">
                <i class="fa-solid fa-plus"></i>&nbsp; Добавить животное
            </button>
        </p>

        <p class="buttons">
            <button type="button" class="btn btn-success" @onclick="OnAddCategory">
                <i class="fa-solid fa-briefcase"></i>&nbsp;&nbsp;Работа с категориями
            </button>
        </p>

        <p class="buttons">
            <input type="text" size="23" class="form-control" placeholder="Искать животное по имени" @bind="SearchString" @bind:event="oninput" @onkeyup="FilterUser" />
            @if(SearchString.Length > 0)
            {
                <div class="input-group-append">
                    <button class="btn btn-danger" @onclick="ResetSearch">
                        <i class="fas fa-times">Отменить поиск</i>
                    </button>
                </div>
            }
        </p>

        <div class="dropdown">
            
            <button class="btn btn-secondary dropdown-toggle buttons" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;&nbsp;Сортировать по
            </button>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><button class="dropdown-item" @onclick="OnDescAlphabet">Имени</button></li>
                <li><button class="dropdown-item" @onclick="OnCategorySortCatsDogs">Кошки-Собаки</button></li>
                <li><button class="dropdown-item" @onclick="OnCategorySortDogsCats">Собаки-Кошки</button></li>
                <li><button class="dropdown-item" @onclick="OnSortGender">По полу</button></li>
                <li><button class="dropdown-item" @onclick="OnSortVaccination">Сначала вакцинированные</button></li>
                <li><button class="dropdown-item" @onclick="OnSortNoVaccination">Сначала не вакцинированные</button></li>              
                <li><button class="dropdown-item" @onclick="OnNormalMode">По умолчанию</button></li>
            </ul>
        </div>

        <p class="buttons">
            <button type="button" class="btn btn-success" @onclick="OnViewClientsOrders">
                <i class="fa-sharp fa-solid fa-folder-open"></i>&nbsp;&nbsp;Заявок на сегодня:
                <span>
                   @clientOrdersCount
                </span>
                </button>
        </p>

    </div>

    <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Фото</th>
                    <th>Вакцинация</th>
                    <th>Категория</th>
                    <th>Имя</th>
                    <th>Пол</th>
                    <th>Возраст</th>
                    <th>День издания</th>
                    <th>Контакты</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var animal in animals)
                {
                    <tr>
                        <td><img src="@animal.ImagePath" alt="" class="imgForAnimals" /></td>
                    <td>
                        @if (animal.IsVaccinated == true)
                        {
                            <td style="color:limegreen">Вакцинирован</td>
                        }
                        else
                        {
                            <td style="color:red">Требуется вакцинация</td>
                        }
                    </td>
                        <td>@GetCategoryByIdUseCase.Execute(animal.CategoryId).Name</td>
                        <td>@animal.Name</td>
                        <td>@animal.Gender</td>
                        <td>@animal.Age</td>
                        <td>@animal.DayOfPublication</td>
                        <td>@animal.Contacts</td>
                        <td>
                            <button class="btn btn-danger" @onclick="@(() => OnDeleteAnimal(animal.AnimalId))">Удалить</button>
                            <button class="btn btn-info" @onclick="@(() => OnEditAnimal(animal))">Редактировать</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>  
}

@code {
    private IEnumerable<Animal> animals;
    private int clientOrdersCount;
    protected List<Animal> searchAnimalData = new();    
    protected string SearchString { get; set; } = string.Empty;

    private void OnViewClientsOrders()
    {      
        NavigationManager.NavigateTo("/clientorders");
    }

    protected void FilterUser()
    {
        if(!string.IsNullOrEmpty(SearchString))
        {
            animals = searchAnimalData.Where(x => x.Name.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1).ToList();
        }
    }

    private void OnAddCategory()
    {
        NavigationManager.NavigateTo("category");
    }

    public void ResetSearch()
    {
        SearchString = string.Empty;
        animals = searchAnimalData;
    }

    private void OnEditAnimal(Animal animal)
    {
        NavigationManager.NavigateTo($"/editanimal/{animal.AnimalId}");
    }

    public void OnAddAnimal()
    {
        NavigationManager.NavigateTo("/addanimal");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        animals = ViewAnimalsUseCase.Execute();
        searchAnimalData = animals.ToList();
        clientOrdersCount = GetClientOrderCountUseCase.GetCount();
    }

    private async Task OnDeleteAnimal(int animalId)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Вы уверены?");

        if (confirmed)
        {
            DeleteAnimalUseCase.Delete(animalId);
            NavigationManager.NavigateTo("/admin", true);
        }
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private void OnDescAlphabet()
    {
        animals = searchAnimalData.OrderBy(x => x.Name).ToList();
    }

    private void OnCategorySortDogsCats()
    {
        animals = searchAnimalData.OrderByDescending(x => x.CategoryId).ToList();
    }

    private void OnCategorySortCatsDogs()
    {
        animals = searchAnimalData.OrderBy(x => x.CategoryId).ToList();
    }

    private void OnSortGender()
    {
        animals = searchAnimalData.OrderBy(x => x.Gender).ToList();
    }

    private void OnNormalMode()
    {
        animals = searchAnimalData.ToList();
    }

    private void OnSortNoVaccination()
    {       
        animals = searchAnimalData.OrderBy(x => x.IsVaccinated).ToList();      
    }

    private void OnSortVaccination()
    {     
        animals = searchAnimalData.OrderByDescending(x => x.IsVaccinated).ToList();
    }
}
